.root 
{
    -fx-background-color:  #252525;
}
#title
{
    -fx-text-fill: white;
    -fx-font-family: Utsaah;
    -fx-font-weight: bold;
    -fx-font-size: 50px;
    -fx-pref-width: 400px;
}
#ErrorMessage
{
    -fx-text-fill: white;
    -fx-font-family: Yu Gothic;
    -fx-font-size: 24px;
    -fx-pref-width: 400px;
}
.label
{
    -fx-text-fill: white;
    -fx-font-family: Yu Gothic;
    -fx-font-size: 24px;
    -fx-pref-width: 250px;
}
.radio-button
{
    -fx-text-fill: white;
    -fx-font-family: Yu Gothic;
    -fx-font-size: 24px;
}
.button
{
    -fx-text-fill: white;
    -fx-font-family: Yu Gothic;
    -fx-font-size: 16px;
    -fx-background-color: #7a0bc0;
    -fx-pref-width: 80px;
}
.text-field
{
    -fx-text-fill: white;
    -fx-font-family: Yu Gothic;
    -fx-background-color: #7a0bc0;
    -fx-font-size: 16px;
    -fx-pref-width: 350px;
}